.request_main{
    display: flex;
    margin-top: 20px;
}
.request_top{
    position: relative; 
    background-color: #9DB2BF!important;
}
.request_bottom{
    display: flex;
    position: relative;
}
.dev{
    position: relative; 
    background-color: #27374D!important;
}
.add_button{
    position: relative; 
    height: 100%;
    /* overflow-y: scroll; */
    padding: 16px;
}
.add{
    position: fixed; /* Set button to fixed position */
    bottom: 16px; /* Set button to 16px from the bottom */
    right: 16px;
}