.design{
    background-color: brown ;
    
}
body{
    background-color: #b05f6d!important;
    background: linear-gradient(to right bottom, #b05f6d,#462446);
    background-repeat: no-repeat;
    background-size:contain;
}