/* .design{
    background-color: brown ;
    
} */
body {
    background-color: #DDE6ED !important;
    position: relative;
  }
  
  body::before {
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('white-grid-png-3.png');
    opacity: 0.2;
    z-index: -1;
  }
  
.highlight{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #27374D;
}
.container {
    position: relative;
    width: 250px;
    height: 200px;
    margin-left: 10px;
    overflow:hidden;

  }
/* .bac{
    background-image: url('https://cdn.pixabay.com/photo/2022/03/23/07/40/technology-7086601_1280.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
}
.bac2{
    background-image: url('https://cdn.pixabay.com/photo/2019/10/15/12/04/office-4551450_1280.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    
} */